body {
  height: 800px;  
}

h1 {
  font-family: "Consolas","Helvetica","Arial",sans-serif;
  text-align: center;
}

h3 {
  font-family: "Consolas","Helvetica","Arial",sans-serif;
  text-align: center;
  color: red;
}

.table {
  display: table;
  margin: 0px auto;
  width: 30%;
  height: 170px;
  border: solid 1px black;
  text-align: center;
  cursor: pointer;
}

.table .row {
  display: table-row;
  margin: 0px;
  outline: none;
  vertical-align: middle;
}
.table .cell {
  display: table-cell;
  margin: 0px;
  min-width: 71px;
  min-height: 20px;
  border: solid 1px;
  outline: none;
}

.verticalResults {
  display: table-row;
  margin: 0px;
  height: 28px;
  min-width: 71px;
  border: solid 1px black;
  vertical-align: middle;
}

.table .verticalResults .cell {
  display: table-cell;
  margin: 0px;
  min-width: 71px;
  min-height: 20px;
  outline: none;
  vertical-align: middle;
}

.saveButton {
display: block;
position: relative;
left: 47%;
top: 5%;
width: 130px;
height: 30px;
border: none;
border-radius: 5px;
text-align: center;
font-family: "Consolas","Helvetica","Arial",sans-serif;
background: red;
color: white;
outline: red;

}